.navbar-default {
    background-color: grey;
    color: white;
}
.navbar .form-control{
    border-radius: 20px;
}

.phone{
    border: 1px solid;
    border-radius: 8px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buy{
    width: 30px;
    height: 30px;
    background: white;
}

.hide{
    display:none;
}